[submodule "mlx"]
	path = mlx
	url = https://github.com/42Paris/minilibx-linux.git
[submodule "libft"]
	path = libft
	url = git@github.com:tviejo/42Libft-Enhanced.git
[submodule "Cub3D_Map_Generator"]
	path = Cub3D_Map_Generator
	url = git@github.com:tviejo/Cub3D_Map_Generator.git
